* {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  * { font-family: 'InterVariable', sans-serif; }
}

code {
  font-family: 'Inter', source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-brand,
.nav-link {
  cursor: pointer;
}

@media (min-width: 768px) {
  .justify-content-md-between {
    justify-content: space-between !important;
  }
  .min-vh-md-100 {
    min-height: 100vh !important;
  }
}